.searchBar {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.searchBar > span {
    height: 50px;
}

.searchBar > input {
    text-align: center;
}

.headerImg {
    height: 24px;;
    width: 24px;
    max-height: 100px;
}

.logo {
    width: 15%;
    height: auto;
}