.postContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.postContainer > img {
    width: 100%;
    height: auto;
}
.postContainer > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.postContainer > header > img {
    width: 32px;
    height: auto;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.postContainer > header > h3 {
    font-size: 2.2rem;
}

.actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    padding-left: 15px;
}

.actions > img {
    height: auto;
    width: 4rem;
    padding-right: 10px;
}

.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;

}

.likes > p {
    font-size: 1.6rem;
    padding-left: 15px;
    font-weight: 500;
}

.postContainer > input {
    width: 100%;
    max-width: 100%;
    height: 60px;
    margin-top: 10px;
    font-size: 1.6rem;
    border: 0 px solid black;
}